/* RESET */
img{
    max-width: 100%;
}
ul{
    list-style: none;
}

/* COMUNE */
.container-ms{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.container-ms-small{
    width: 90%;
    margin: 0 auto;
}
.semi-barra{
    display: inline-block;
    background-color: white;
    width: 150px;
    height: 3px;
}
.icona-stella{
    color: white;
    padding: 0.5em;
    vertical-align: sub;
}
.font-size-05-ms{
    font-size: 0.5rem;
}

/* TIPOGRAFIA */
.titolo-principale{
    text-transform: uppercase;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
}
.titolo-secondario{
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 2.5rem;
    padding: 0.5em;
    padding-bottom: 0em;
    font-weight: 700;
}
.sottotitolo{
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 1.2rem;
    padding: 0.5em;
    font-weight: 500;
}

/* HEADER */
.header-ms{
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 10;
    background-color: #2c3e50;
    color: white;
}
.header-menu{
    text-transform: uppercase;
    color: white;
    font-size: 0.8rem;
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
    gap: 1em;
    cursor: pointer;
}
.contenitore-a-scomparsa{
    display: none;
}
.hamburger-menu{
    background-color: transparent;
    color: gray;
    border-style: ridge;
    padding: 0em 0.5em;
    border-radius: 4px;
    border: 1px solid white;
}

/* MAIN */
.start-jumbotron{
    background-color: #1bbc9c;
    padding-top: 8em;
    padding-bottom: 2em;
}
.container-ms-small img{
    width: 30%;
}
.portfolio{
    padding-top: 2em;
    padding-bottom: 2em;
}
.about{
    background-color: #1bbc9c;
}
.form-control-plaintext{
    border-bottom: 1px solid #cfcfcf;
}

/* FOOTER */
.footer-main{
    background-color: #3b546d;
}
.footer-footer{
    background-color: #2c3d4f;
    color: white;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}
.icone-footer{
    color: white;
    font-size: 2rem;
}
.cerchio{
    height: 50px;
    width: 50px;
    border: 0.5px solid white;
    padding: 2em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* RESPONSIVE */
@media screen and (min-width: 768px){
    .container-ms{
        width: 90%;
    }
    .container-ms-small{
        width: 70%;
        margin: 0 auto;
    }
    .contenitore-a-scomparsa{
        display: flex;
    }
    .hamburger-menu{
        display: none;
    }
}
@media screen and (min-width: 992px){
    .container-ms{
        width: 70%;
        max-width: 1200px;
    }
    .container-ms-small{
        width: 50%;
        max-width: 1000px;
        margin: 0 auto;
    }
}